.m-projects-list {
    .projects-li {
        margin: 2px 0;
        .projects-name {
            height: 50px!important;
            color: #e0e0e0;
            background-color: #424242;
            display: inline-block!important;
            width: 100%;
            padding: 14px 10px 0 9px;;
        }
        &.selected {
            background-color: #F47023;
            color: #FFF!important;
            &:hover {
                .projects-name {
                    background-color: #F47023;
                    color: #FFF!important;
                }
            }
        }
        &:hover {
            .projects-name {
                background-color: #616161;
            }
        }
        .projects-name-new {
            background-color: rgba(66, 66, 66, 0.54);
            text-align: center;
        }
    }
}
