.m-projects-list {
    .projects-li {
        .projects-name {
            height: 35px!important;
            color: #e0e0e0;
            display: inline-block!important;
            width: 100%;
            padding: 8px 10px 0 9px;;
        }
        &.selected {
            background-color: #F47023;
            color: #FFF!important;
            &:hover {
                .projects-name {
                    background-color: #F47023;
                    color: #FFF!important;
                }
            }
        }
        &:hover {
            .projects-name {
                background-color: #616161;
            }
        }
    }
}
